.homely-btn {
    width: 60px; 
    height:60px; 
    -moz-border-radius: 35px; 
    border-radius: 35px; 
    -webkit-border-radius:35px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.homely-on {
    background-image:url('../img/lightbulb.png');
    background-size: 35px 53px;
    background-repeat: no-repeat;
    background-position:center;
}

.homely-on:hover {
    background-position:center;
}

.homely-off {
    background-image:url('../img/lightbulb_off.png');
    background-size: 35px 53px;
    background-repeat: no-repeat;
    background-position:center;
}

.homely-off:hover {
    background-position:center;
}

