%h1 Basic Commands

%h2 Colours

=link_to "Red", :red_pages
=link_to "Green", :green_pages
=link_to "Blue", :blue_pages
=link_to "White", :white_pages
=link_to "Query lights", :query_pages

%form{ :action => "/pages/colour", :method => "post"}
    %label{:for => "colour"} Enter a colour [0-9][0-9][0-9]:
    %input{:type => "text", :name => "colour", :class => "text"}
    %input{:type => "submit", :value => "Change LED", :class => "button"}

%h2 Settings
=link_to "Off", :off_pages

%h2 Current state

-@state.each do |state|
    =state
    <br/>

%h2 Broken
-#=link_to "Query individual LED", :pages_query
=link_to "On", :on_pages
=link_to "Off", :off_pages
=link_to "Darker", :darker_pages
=link_to "Lighter", :lighter_pages

