%h1 Basic Commands

%h2 Colours

=link_to "Red", :red_pages
=link_to "Green", :green_pages
=link_to "Blue", :blue_pages
=link_to "White", :white_pages

%h2 Settings
=link_to "Off", :off_pages

%h2 Broken
=link_to "On", :on_pages
=link_to "Darker", :darker_pages
=link_to "Lighter", :lighter_pages

-#%= hidden_field_tag :colour, @colour
